body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

main {
  background-image: url("../images/bg-stars.svg");
  background-color: #242434;
  min-width: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 20%;
  margin-top: 40px;
}

.header p {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Red Hat Text, sans-serif;
  letter-spacing: 0.4em;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  text-transform: uppercase;
  color: #8486a9;
  letter-spacing: 0.3em;
  font-size: 12px;
  font-family: Red Hat Text, sans-serif;
}

.timer .div-box {
  margin: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer .div-box span {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
}

.timer .timer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
}

.timer .timer-box div:nth-child(1) {
  background-color: #343454;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.timer .timer-box div:nth-child(2) {
  background-color: #34364f;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  -webkit-box-shadow: 0px 8px #191a24;
          box-shadow: 0px 8px #191a24;
}

.footer {
  background-image: url("../images/pattern-hills.svg");
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  margin: 15px;
}

.footer .icons {
  -webkit-margin-before: 50px;
          margin-block-start: 50px;
}

.footer .icons a:hover path {
  fill: #fb6087;
}
/*# sourceMappingURL=styles.css.map */